---
layout: page
---
<div id="tags-list">
  <div class="tag-list">
    <ul class="post-list post-list-narrow">
     {% for post in site.tags[page.tag] %}
     <li>
       {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
       <b>
         <a href="{{ post.url | relative_url }}">
           {{ post.title | escape }}
         </a>
       </b>{%- if post.date -%} - <i>{{ post.date | date: date_format }}</i>{%- endif -%}
     </li>
     {% endfor %}
    </ul>
  </div>
</div>
